* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea,
input,
button {
  display: block;
  margin: 10px auto;
}

button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  height: 50vh;
  width: 100vw;
}

img {
  width: 50%;
  height: 100%;
}

.console {
  display: inline-block;
  width: 50%;
  background-color: grey;
  height: 100%;
  padding: 25px;
  overflow: hidden;
}
